.ant-picker-calendar {
  ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: #76bc33;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-track {
    background: #515a64;
    border: 0px none #ffffff;
    border-radius: 75px;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
}

.events {
  li {
    display: flex;
    align-items: center;
    gap: 5px;

    .color-badge {
      width: 10px;
      height: 10px;
      flex-shrink: 0;
    }
    span{
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
    }
  }
}
.popover-card{
  display: flex;
  flex-direction: column;
  p{
    font-size: 12px;

  }
}