$meetingBorderColor:#000;
$meetingBgColor:#000;
$birthdayBorderColor:#000;
$birthdayBgColor:#000;
$deadlineBorderColor:#000;
$deadlineBgColor:#000;
$tableBorder:#000;

.calendar-card{
  //height: calc(100vh - 200px);
}
.ant-picker-calendar {
  th {
    font-size: 14px !important;
  }

  //.ant-picker-calendar-date-content {
  //  height: 100% !important;
  //
  //}

  ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
  ::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }
  ::-webkit-scrollbar-thumb {
    background: #76bc33;
    border: 0 none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-track {
    background: #515a64;
    border: 0 none #ffffff;
    border-radius: 75px;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
}

.ant-picker-calendar-date-value {
  font-size: 12px !important;
}

.ant-picker-content{
 border-collapse: collapse;

  td,th{
    border: 1px solid var(--tableBorder);
  }
}

.custom-td {
  height: 100px;
  display: flex;
  flex-direction: column;

  padding:  3px 1px;
  .date-number{
    font-size: 14px;
  }

  .events {
    display: flex;
    flex-direction: column;
    gap: 2px;
    overflow-y:auto;
    padding: 0 2px;
    li {
      padding: 0 5px;
      display: flex;
      align-items: center;
      gap: 5px;

      //.color-badge {
      //  width: 5px;
      //  height: 5px;
      //  flex-shrink: 0;
      //}
      span{
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        font-size: 12px;
      }
    }
  }
}

.ant-picker-cell .meeting{
  border-left: 4px solid var(--meetingBorderColor) ;
  background-color: var(--meetingBgColor);
  border-radius: 3px;
}
.ant-picker-cell .birthday{
  border-left: 4px solid var(--birthdayBorderColor);
  background-color: var(--birthdayBgColor);
  border-radius: 3px;
}
.ant-picker-cell .deadline{
  border-left: 4px solid var(--deadlineBorderColor);
  background-color: var(--deadlineBgColor);
  border-radius: 3px;
}

.popover-card{
  display: flex;
  flex-direction: column;
  p{
    font-size: 11px;
  }
}



