.calendar-card{
  //height: calc(100vh - 200px);
}
.ant-picker-calendar {
  th {
    font-size: 14px !important;
  }

  //.ant-picker-calendar-date-content {
  //  height: 100% !important;
  //
  //}

  ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
  ::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }
  ::-webkit-scrollbar-thumb {
    background: #76bc33;
    border: 0 none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-track {
    background: #515a64;
    border: 0 none #ffffff;
    border-radius: 75px;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
}

.ant-picker-calendar-date-value {
  font-size: 12px !important;
}


.custom-td {
  height: 100px;
  display: flex;
  flex-direction: column;
  border: 1px solid #f0f0f0;
  padding: 5px;


  .events {
    overflow-y:auto ;
    li {
      display: flex;
      align-items: center;
      gap: 5px;

      .color-badge {
        width: 5px;
        height: 5px;
        flex-shrink: 0;
      }
      span{
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        font-size: 12px;
      }
    }
  }
}
.custom-td.all{
  border-left: 5px solid #76BC33;
  background-color: #e3eaff;
  border-radius: 5px;
}
.custom-td.meeting{
  border-left: 5px solid #3664BD;
  background-color: #e3eaff;
  border-radius: 5px;
}
.custom-td.birthday{
  border-left: 5px solid #CED232;
  background-color: #e3eaff;
  border-radius: 5px;
}
.custom-td.deadline{
  border-left: 5px solid #BD3636;
  background-color: #e3eaff;
  border-radius: 5px;
}

.popover-card{
  display: flex;
  flex-direction: column;
  p{
    font-size: 11px;
  }
}



