[class~='ant-carousel'] [class~='slick-slider'] li button {
    border-radius: 0 !important;
    background-color: #555555;
}
[class~='ant-carousel'] [class~='slick-slider'] li.slick-active button {
    background-color: #000 !important;
}

.dashboard-profile-card .slick-dots {
    position: absolute !important;
    /*margin-top: 5px;*/
    top: -7%;
}

.staff-card .ant-card-body {
    padding: 5px;
}