.file {
  p {
    white-space: wrap;
  }
}

//{
//  xs: '480px',
//  sm: '576px',
//  md: '768px',
//  lg: '992px',
//  xl: '1200px',
//  xxl: '1600px',
//}

.card--sub-task__card {
  padding-top: 25px;
  padding-top: 10px;
  borderRadius: 10;
  position: relative;
}

@media (max-width: 576px) {
  .card--sub-task__card {
    padding: 5px;
    padding-top: 20px;

  }
}


