.file {
  p {
    white-space: wrap;
  }
}

//{
//  xs: '480px',
//  sm: '576px',
//  md: '768px',
//  lg: '992px',
//  xl: '1200px',
//  xxl: '1600px',
//}

.card--sub-task__card {
  padding-top: 25px;
  border-radius: 10px;
  position: relative;

  .task--card-info {
    justify-content: space-between;
    gap: 10px;

    .task--card__status {
      order: 2;

      .ant-space-item {
        width: 100%;

      }
    }

    .task--card__text {
      order: 1;
    }
  }
}

@media (max-width: 576px) {
  .card--sub-task__card {
    padding-top: 25px;

    .sub--task--title {
      font-size: 20px;
    }

    .task--card-info {
      flex-direction: column;
      gap: 5px;

      .task--card__status {
        order: 1;
      }

      .task--card__text {
        order: 2;
      }
    }
  }
}


